<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <activity
            android:name="com.example.youhe.youhecheguanjia.ui.base.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="path"
                    android:scheme="flydogcar" />
            </intent-filter>
        </activity>

        <!--贷款-->
        <activity
            android:name="com.linkpay.loansdk.activity.LinkPayLoanActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>